* {
  margin: 0;
  font-family: sans-serif;
}

.logo-image {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-image > img {
  width: 80px;
}

.logo-image > p {
  font-size: 40px;
}

.nav-item {
  text-decoration: none;
  padding: 8px;
  color: black;
}

.nav-item:focus {
  color: rgb(41, 37, 37);
  text-decoration: underline;
}

.nav-item:hover {
  color: black;
}

.btn,
.m-btn {
  width: 150px;
}
